.appc{
    color: white;
    
}
.tr{
    margin-top: 100px;
}

.hd{
    font-size: 80px;
    text-align: left;
}
.phd{
    font-size: x-large;
    text-align: left;
}
.bt{
    background-color: blueviolet;
    color: white;
    box-shadow: blueviolet;
  
}
.hdcd{
    width: 22rem;
    color: white;
    background-color: rgb(85, 85, 85);
    
}
.cdh{
    text-align: left;
    color: white;

}
.trhd{
    text-align: left;

}
.cdbt{
    color: white;
    width: 80px;
    font:bolder;
    height: 80px;
    background-color: blueviolet;
}
.con{
    background-color: rgba(43,43,43,255);
    color: white;
    
}
.simg{
    width: 90px;
}
.trcard{
    margin-top: 30px;
}
.topbt{
    margin-top: 20px;
    color: white;
    
    border-color: blueviolet;
}
.tpcd{
    width: 14rem;
    margin-left: 30px;
    background-color: rgb(63, 63, 63);
    margin-top: 70px;
    color: white
}
    
.dscd{
    width: 20rem;
    color: white;
    background-color: rgba(63, 63, 63, 0.856);
    margin-top: 70px;
    margin-left: 30px;
}
.ps{
    font:message-box;
}

.pr{
    color: grey;
}
.bs{
    font:message-box;
}

